@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.HomePage-First-container {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/podcasts-bg.png");
    background-size: cover;
    height: 33vh;
    text-align: left;
    font-family: Roboto;
    color: #ffffff;
    padding: 20px;
}

.Homepage-Podcast-conatiner {
    margin-left: 20px;
    margin-top: 20px;
}

.Homepage-Podcast-heading {
    text-align: center;
    color: #151765;
    font-weight: bold;
    font-size: 15px;
    margin: 2px;
}

.Homepage-Podcast-paragraph {
    text-align: center;
    color: #5a7184;
}

.Podcast-Page-First-container {
    background-color: #151765;
    padding: 20px;
}

.Podcast-Page-First-container-heading {
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
    font-family: Roboto;
}

.Podcast-Page-First-container-para {
    color: #ffffff;
    font-size: 12px;
    margin-left: 10px;
    font-family: Roboto;
}

.Podcast-Page-Remaining-container {
    background-color: #ffffff;
    padding: 20px;
}

.Podcast-Page-Remaining-container-heading {
    color: #151765;
    font-size: 16px;
    font-weight: bold;
    margin-left: 10px;
    font-family: Roboto;
}

.Podcast-Page-Remaining-container-para {
    color: #5a7184;
    font-size: 13px;
    margin-left: 10px;
    font-family: Roboto;
}

.Podcast-Page-Remaining-container-time {
    color: #5a7184;
    font-size: 10px;
    margin-left: 10px;
    font-family: Roboto;
}

.Podcast-Page-button-container {
    text-align: right;
    margin: 10px;
}

.Podcast-Page-button {
    background-color: #151765;
    color: #ffffff;
    border-radius: 20px;
    width: 60px;
    font-size: 10px;
    font-weight: bold;
    padding: 3px;
    font-family: Roboto;
}